@import '../../scss/variables';

.navbar {
    
    &-default {
        width: 100%;
        background: #ffffff;
        box-shadow: 0 0.9375rem 0.9375rem 0 rgb(0 0 0 / 6%);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-sticky {
        top: 0;
        bottom: 0;
        position: fixed;
        overflow: hidden;
    }
}