@import '../../scss/variables';

.button {
    color: $black;
    background-color: $white-space;
    border: 1px solid $secondary-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 0.75rem;
    min-height: 2.75rem;
    font-size: $font-size;
    border-radius: $border-radius;
    white-space: nowrap;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
        text-decoration: none;
        color: $white-space;
        background-color: $secondary-color;
    }

    &.selected {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: $white-space;
    }

    &.button-primary {
        border-radius: $border-radius;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: $white-space;
    }

    &.button-secondary {
        border-radius: $border-radius;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: $white-space;

        &:hover {
            background-color: $black;
            border: 1px solid $black;
            color: $white-space;
        }
    }

    .loader {
        margin-right: 0.5rem;
    }
}