@import '../../scss/colors';

.button {
    color: $black;
    background-color: $white-space;
    border: 1px solid $secondary-color;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 8px 12px;
    min-height: 42px;
    font-size: 16px;
    border-radius: 4px;
    white-space: nowrap;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
        text-decoration: none;
        color: $white-space;
        background-color: $secondary-color;
    }

    &.selected {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: $white-space;
    }

    &.button-primary {
        border-radius: 4px;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: $white-space;
    }

    &.button-secondary {
        border-radius: 4px;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: $white-space;

        &:hover {
            background-color: $black;
            border: 1px solid $black;
            color: $white-space;
        }
    }
}