@import '../../scss/variables';

.list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    .list-icon {
        margin-right: 1rem;
    }

    .list-header {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: $font-weight;
    }

    .list-description {
        margin-bottom: 0;
    }
}