.subscribe-form {
    margin: 2rem auto 0;

    .email-input {
        margin-bottom: 0.75rem;
    }

    .button {
        width: 100%;
    }

    @media only screen and (min-width: 576px) {
        width: 30rem;
        display: flex;
        align-items: flex-start;

        .email-input {
            margin-bottom: 0;
            margin-right: 0.75rem;
        }

        .button {
            width: auto;
        }
    }
}

.success-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 120px;
    }
}