@import '../../scss/variables';

.card {
    text-align: center;

    .card-image {
        margin-bottom: 1rem;
        max-width: 100%;
    }

    .card-header {
        margin-top: 0;
        margin-bottom: 0.375rem;
        font-weight: $font-weight;
    }

    .card-description {
        margin-bottom: 0;
    }

    &.round {
        .card-image {
            border-radius: 50%;
        }
    }
}