@import '../../scss/colors';

.filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5rem;

    @media only screen and (max-width: 576px) {
        justify-content: flex-start;
        overflow-x: scroll;
        webkit-overflow-scroll: touch;

        .button {
            padding: 10px 16px;
            min-height: 42px;
            font-size: 18px;
        }
    }
}

.product {
    border: 1px solid $ash-light;
    background-color: $white-space;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    height: 100%;

    .product-image {
        margin-right: 16px;
    }

    .item-body {
        h4 {
            margin: 0 0 1rem 0;
        }

        p {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }
}