.navbar {
    padding-top: 12px;
    padding-bottom: 12px;

    &>.container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
    }

    .nav-links {
        a+a {
            margin-left: 16px;
        }

        &.nav-links-right {
            margin-left: auto;
        }
    }
}