@import '../../scss/variables';

.footer {
    font-size: $font-small;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: $grey-dark;

    .container {
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        margin: 0 auto 1.25rem;

        img {
            height: 1.875rem;
        }
    }

    .footer-right {
        .footer-text {
            color: $white-space;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
        }
    }

    @media only screen and (min-width: 576px) {
        .container {
            flex-direction: row;
        }

        .footer-logo {
            margin-left: 0;
            margin-bottom: 0;
        }

        .footer-right {
            .footer-text {
                text-align: right;
            }
        }
    }
}