@import '../../scss/colors';

.signup-form {
    max-width: 500px;
    margin-right: 24px;
    margin-left: 24px;
    background: $white-space;
    border: 1px solid $ash-light;
    border-radius: 4px;
    padding-top: 40px;
    padding-bottom: 40px;

    @media only screen and (min-width: 576px) {
        margin-right: auto;
        margin-left: auto;
    }
}