$primary-color: #0A8543;
$primary-accent: #0fd46c;
$secondary-color: #0d333f;
$primary-transparent: rgba(15, 212, 108, 0.25);
$text-color: #212529;
$white-space: #ffffff;
$black: #000000;
$ash-light:#dee2e6;
$grey-dark:#393a3d;
$red: #dc3545;