$primary-color: #0A8543;
$primary-accent: #0fd46c;
$secondary-color: #0d333f;
$primary-transparent: rgba(15, 212, 108, 0.25);
$text-color: #212529;
$white-space: #ffffff;
$black: #000000;
$ash-light: #dee2e6;
$grey-dark: #393a3d;
$red: #dc3545;
$mint: #d8eaeb;
$section-bg: #f3f2ef;

$font-size: 16px;
$font-small: 0.875rem;
$font-large: 1.125rem;
$font-weight: 500;
$font-weight-b: 700;
$border-radius: 0.25rem;